<header class='top-page-header'>
      <div class="lists-top">
        <%= link_to 'Infection', "/", class: "infection" %>
      </div>
      <% unless influencer_signed_in? || company_signed_in? %>  
        <div class="lists-bottom">
          <div class="influencer", id="influencer">インフルエンサーの方</div>
          <div class="company", id="company">企業の方</div>
        </div>
        <div class="pulldown-company hidden", id="pulldown-company">
          <%= link_to '新規登録', new_company_registration_path, class: "registration-c", id: "registration-c"%>
          <%= link_to 'ログイン', new_company_session_path, class: "login-c", id: "login-c"%>
        </div>
        <div class="pulldown-influencer hidden", id="pulldown-influencer">
          <%= link_to '新規登録', new_influencer_registration_path, class: "registration-i", id: "registration-i"%>
          <%= link_to 'ログイン', new_influencer_session_path, class: "login-i", id: "login-i"%>
        </div>
      <% end %>

      <% if influencer_signed_in? %>  
        <div class="lists-bottom">
          <%= link_to 'ログアウト', "/influencers/sign_out", method: :delete, class: "influencer" %>
          <%= link_to 'マイページ', '#', class: "company"%>
        </div>
      <% end %>

      <% if company_signed_in? %>  
        <div class="lists-bottom">
          <%= link_to 'ログアウト', "/companies/sign_out", method: :delete, class: "influencer" %>
          <%= link_to current_company.staff, '/', class: "company"%>
        </div>
        <% end %>
    </header>
